<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practica 2</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <h2>Parte 1</h2>
  <p class="parrafo-1">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quibusdam deleniti ipsum. Enim eius incidunt aperiam odit, eveniet, tenetur at distinctio assumenda molestiae, quaerat cum excepturi. Voluptates, ut rerum? Dolor?
  </p><br>
  <p class="parrafo-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae aliquam vitae a eveniet ipsum facilis ipsa deleniti, optio cupiditate ad! Rem provident dicta dolore molestias deleniti ratione harum sequi.
  </p><br>
  <ul>
    <li class="links">
      https://www.google.com/
    </li>
    <li class="links">
      https://simo.cnsc.gov.co/
    </li>
    <li class="links">
      https://www.udenar.edu.co/
    </li>
  </ul>
  <table>
    <tr class="encabezado">
      <th>
        Nombre
      </th>
      <th>
        Universidad
      </th>
      <th>
        Promedio
      </th>
    </tr>
    <tr class="fila-1">
      <td>
        Ana
      </td>
      <td>
        Universidad de los Andes
      </td>
      <td>
        $ 4.1
      </td>
    </tr>
    <tr class="fila-2">
      <td>
        María
      </td>
      <td>
        Universidad Piloto
      </td>
      <td>
        $ 5
      </td>
    </tr>
    <tr class="fila-3">
      <td>
        Daniela
      </td>
      <td>
        Universidad de Caldas
      </td>
      <td>
        $ 3.0
      </td>
    </tr>
  </table>
  <h2>Parte 2</h2>
  <div class="contenedor"></div>
    <div class="header">
      <div class="logo">
        logo
      </div>
      header
      <div class="buscador">
        buscador
      </div>
    </div>
    contenedor
    <div class="grid">
      <div class="slide-bar">
        slide-bar
      </div>
      <div class="content">
        content
      </div>
    </div>
    <div class="footer">
      footer
      <div class="item1">
        footer-1
      </div>
      <div class="item2">
        footer-2
      </div>
      <div class="item3">
        footer-3
      </div>
    </div>
  </div>  
</body>
</html>